@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
body {
	font-family: "Lato", sans-serif;
}

.header {
	width: 100%;
	height: 100%;
	max-height: 800px;
	background: url(../img/background-header.jpg) 50% 50%/cover no-repeat;
	padding: 33px 0 0 0;
}
.header__menu {
	margin: 0 auto;
	max-width: 630px;
}
.header__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__item {
	font-size: 14px;
	color: #4d4959;
	font-weight: bold;
}
.header__item.doshed a::before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	background-color: #000;
	margin: 0 35px 0 0;
}

.title {
	font-size: 18px;
	color: #353738;
	font-weight: bold;
	text-transform: uppercase;
}

.text {
	text-align: center;
	color: #848789;
	line-height: 30px;
	width: 100%;
	max-width: 85%;
	font-weight: 300;
}

.section {
	width: 100%;
}
.section__subsection1 {
	background: #f7f7f7;
	padding: 120px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section__lcon {
	padding: 0 0 35px 0;
}
.section__title {
	padding: 0 0 30px 0;
}
.section__text {
	font-size: 18px;
}
.section__subsection2-3 {
	display: flex;
}
.section__row {
	max-width: 1067px;
	min-height: 600px;
	background: url(../img/subsection2__content-img.jpg) 0 0/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 75%;
}
.section__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 45%;
}
.section__lcon2 {
	margin: 40px 0 0 0;
}
.section__title2 {
	font-size: 16px;
}
.section__text2 {
	font-size: 16px;
}
.section__text2:after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background: #d7d7d7;
	margin: 15px auto 0 auto;
}
.section__content-img {
	width: 100%;
	height: 100%;
	max-height: 200px;
	background: url(../img/subsection2__content-img2.jpg) 50% 50%/cover no-repeat;
}
.section .img2 {
	background: url(../img/subsection3__content-img.jpg) 50% 50%/cover no-repeat;
}
.section .row2 {
	background: url(../img/subsection3__content-img2.jpg) 50% 50%/cover no-repeat;
}

.section__container-row {
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 600px;
}
.section__container-content1 {
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/subsection4__content-img.jpg) 50% 50%/cover no-repeat;
}
.section__container-content2 {
	width: 33.33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section__container-content-icon {
	padding: 40px 0;
}
.section__container-content-title {
	padding: 0 0 20px 0;
}
.section__container-content-text {
	flex: 1 1;
	font-size: 16px;
}
.section__container-content-bg {
	width: 100%;
	height: 100%;
	max-height: 200px;
	background: url(../img/subsection4__content-img2.jpg) 50% 50%/cover no-repeat;
}
.section__container-content3 {
	width: 33.33%;
	background: url(../img/subsection4__content-img3.jpg) 50% 50%/cover no-repeat;
}
.section__subsection5 {
	background: #f7f7f7;
}
.section__subsection5-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 120px 0 60px 0;
}
.section__subsection5-icon {
	margin: 0 0 35px 0;
}
.section__subsection5-subtitle {
	font-size: 18px;
	color: #000;
	margin: 0 0 20px 0;
}
.section__subsection5-subtitle span {
	font-size: 16px;
	color: #848789;
	padding: 0 0 0 5px;
}
.section__subsection5-text {
	font-size: 20px;
	text-align: center;
	color: #848789;
	line-height: 30px;
	width: 70%;
}
.section__subsection-input {
	margin: 100px 0 0 0;
}
.section__subsection5-switsh {
	margin: 0 10px;
}