@import "reset.scss";

body{
	font-family: 'Lato', sans-serif;
}
.header {
	width:100%;
	height:100%;
	max-height:800px;
	background:url(../img/background-header.jpg) 50% 50% / cover no-repeat;
	padding:33px 0 0 0;
	&__menu {
		margin:0 auto;
		max-width:630px;
	}
	&__list {
		display:flex;
		justify-content:space-around;
		align-items:center;
	}
	&__item {
		font-size:14px;
		color:#4d4959;
		font-weight:bold;
			&.doshed a::before{
				content:"";
				display:inline-block;
				width:2px;
				height:2px;
				border-radius:100%;
				background-color:#000;
				margin:0 35px 0 0;
			}
	}
}
.title {
	font-size:18px;
	color:#353738;
	font-weight:bold;
	text-transform:uppercase;
}
.text{
	text-align:center;
	color:#848789;
	line-height:30px;
	width:100%;
	max-width:85%;
	font-weight:300;
}
.section {
	width:100%;
	&__subsection1 {
		background:#f7f7f7;
		padding:120px 0;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	&__lcon {
		padding:0 0 35px 0;
	}
	&__title {
		padding:0 0 30px 0;
	}
	&__text {
		font-size:18px;
	}
	&__subsection2-3 {
		display:flex;
	}
	&__row {

		max-width:1067px;
		min-height:600px;
		background:url(../img/subsection2__content-img.jpg) 0 0 / cover no-repeat;
		display:flex;
		justify-content:center;
		align-items:center;
		flex:1 1 75%;
	}
	&__logo {
	}
	&__column {
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		align-items:center;
		flex:1 1 45%;
	}
	&__lcon2 {
		margin:40px 0 0 0;
	}
	&__title2 {
		font-size:16px;
	}
	&__text2 {
		font-size:16px;
		&:after{
			content:"";
			display:block;
			width:40px;
			height:2px;
			background:#d7d7d7;
			margin:15px auto 0 auto;

		}
	}
	&__content-img {
		width:100%;
		height:100%;
		max-height:200px;

		background:url(../img/subsection2__content-img2.jpg) 50% 50% / cover no-repeat;
	}
	.img2{
		background:url(../img/subsection3__content-img.jpg) 50% 50% / cover no-repeat;
	}
	.row2{
		background:url(../img/subsection3__content-img2.jpg) 50% 50% / cover no-repeat;
	}
}

.section {
	&__subsection4 {
	}
	&__container-row {
		display:flex;
		width:100%;
		height:100%;
		min-height:600px;
	}
	&__container-content1 {
		width:33.33%;
		display:flex;
		justify-content:center;
		align-items:center;
		background:url(../img/subsection4__content-img.jpg) 50% 50% / cover no-repeat;
	}
	&__container-content-img {

	}
	&__container-content2 {
		width:33.33%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	&__container-content-icon{
		padding:40px 0;
	}
	&__container-content-title {
		padding:0 0 20px 0;
	}
	&__container-content-text {
		flex:1 1;
		font-size: 16px;
	}
	&__container-content-bg{
		width:100%;
		height:100%;
		max-height:200px;

		background:url(../img/subsection4__content-img2.jpg) 50% 50% / cover no-repeat;
	}
	&__container-content3 {
		width:33.33%;
		background:url(../img/subsection4__content-img3.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection5 {
		background:#f7f7f7;
	}
	&__subsection5-column {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		padding:120px 0 60px 0;
	}
	&__subsection5-icon {
		margin:0 0 35px 0;
	}
	&__subsection5-subtitle {
		font-size:18px;
		color:#000;
		margin:0 0 20px 0;
		& span{
			font-size:16px;
			color:#848789;
			padding:0 0 0 5px;
		}
	}
	&__subsection5-text {
		font-size:20px;
		text-align:center;
		color:#848789;
		line-height:30px;
		width:70%;
	}
	&__subsection-input{
		margin:100px 0 0 0;
	}
	&__subsection5-switsh {
		margin:0 10px;
	}
	&__subsection6-container {
		display:flex;
	}
	&__subsection6-column1 {
		display:flex;
		flex-flow:column nowrap;
		flex:1 1 33.333%;

	}
	&__subsection6-row {
		display:inline-flex;
	}
	&__subsection6-img1 {
		width:100%;
		height:100%;
		min-height:267px;
		background:url(../img/subsection6__content-img1.jpg) 50% 50% / cover no-repeat;

	}
	&__subsection6-img2 {
		width:100%;
		height:100%;
		min-height:267px;
		background:url(../img/subsection6__content-img2.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection6-img3 {
		width:100%;
		height:100%;
		min-height:267px;
		background:url(../img/subsection6__content-img3.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection6-column2 {
		display:flex;
		flex:1 1 33.333%;

	}
	&__subsection6-img4 {
		width:100%;
		height:100%;
		min-height:534px;
		background:url(../img/subsection6__content-img4.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection6-img5 {
		width:100%;
		height:100%;
		min-height:534px;
		background:url(../img/subsection6__content-img5.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection6-column3 {
		display:flex;
		flex:1 1 33.333%;
		flex-flow:column nowrap;
	}
	&__subsection6-img6 {
		width:100%;
		height:100%;
		min-height:267px;
		background:url(../img/subsection6__content-img6.jpg) 50% 50% / cover no-repeat;
		position:relative;
	}
	&__subsection6-logo {
		position:absolute;
		top:50%;
		left:50%
	}
	&__subsection6-img7 {
		width:100%;
		height:100%;
		min-height:267px;
		background:url(../img/subsection6__content-img7.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection6-img8 {
		width:100%;
		height:100%;
		min-height:267px;
		background:url(../img/subsection6__content-img8.jpg) 50% 50% / cover no-repeat;
	}
	&__subsection7-discover-the-shop {
		width:100%;
		height:100%;
		min-height:200px;

		background:#282f35;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	&__subsection7-link {
		font-size:14px;
		font-weight:bold;
		color:#fff;
		border:1px solid #94979a;
		padding:10px;
		&:hover{
			color:#94979a;
			border-color:#cecece;
		}
	}
	&__subsection7-your-email {
		width:100%;
		height:100%;
		min-height:470px;
		background:#fff;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-direction:column;
	}
	&__subsection7-subtitle {
		margin:35px 0;
		font-size:24px;
		color:#848789;
	}
	&__subsection7-container-input {
		display:flex;
		flex-flow:row nowrap;
	}
	&__subsection7-email {
		width:100%;
		height:100%;
		min-width:350px;
		min-height:60px;
		border:1px solid #d3d7d9;
		color:#929292;

		font-size:20px;
		font-style:italic;
		padding:10px;
		&:focus{
			box-shadow:1px 2px 15px;
		}
	}
	&__subsection7-btn {
		width:100%;
		height:100%;
		min-width:125px;
		min-height:60px;

		background:#64c29e;
		color:#fff;
		font-size:20px;
		font-weight:300;
		margin:0 0 0 10px;
		&:hover{
			background:#54a284;
		}
	}	
}


